<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spectra Fitting Application</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .jumbotron {
            background-color: #f2f2f2;
            border-radius: 0.5rem;
            padding: 2rem;
            margin-top: 2rem;
        }
        .btn-custom {
            background-color: #4CAF50;
            color: white;
            padding: 0.5rem 1.5rem;
            margin: 0.5rem;
            border: none;
            border-radius: 0.3rem;
            cursor: pointer;
        }
        .btn-custom:hover {
            background-color: #45a049;
        }
        .container {
            padding-top: 2rem;
        }
    </style>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function loadAbundancePlot() {
        const requestData = {
            removeErrorsBool: document.getElementById("removeErrorsCheck").checked,
            removeWarningsBool: document.getElementById("removeWarningsCheck").checked,
            chisqrLimit: document.getElementById("chisqrLimit").value
        };

        $.ajax({
            url: '/plot_abundance_diagram',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(data) {
                console.log(data); // Log the received data to the console

                // Clear the plot-container
                const plotContainer = document.getElementById('plot-container');
                plotContainer.innerHTML = '';

                // Reconstruct the plot using the received data and layout
                Plotly.newPlot('plot-container', data.data, data.layout);
            },
            error: function(jqxhr, textStatus, error) {
                console.error("Request Failed: " + textStatus + ", " + error); // Log any errors to the console
            }
        });
        }

        $(document).ready(function() {
        $('#uploadForm').on('submit', function(e) {
            displayNotification("Uploading...", 3000, "blue"); // Example: blue for processing
            e.preventDefault(); // Stop form from submitting normally
            var formData = new FormData(this);

            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                processData: false, // Tell jQuery not to process the data
                contentType: false, // Tell jQuery not to set contentType
                success: function(response) {
                    console.log('Upload successful');
                    // Handle success
                    displayNotification("Upload success!", 3000, "green"); // Example: blue for processing
                },
                error: function(xhr, status, error) {
                    console.log('Upload error');
                    // Handle error
                    displayNotification("Upload error :(", 3000, "red"); // Example: blue for processing
                }
            });
        });
        });

        $(document).ready(function() {
        $('#uploadForm_zip').on('submit', function(e) {
            displayNotification("Uploading...", 3000, "blue"); // Example: blue for processing
            e.preventDefault(); // Stop form from submitting normally
            var formData = new FormData(this);

            $.ajax({
                url: '/upload_zip',
                type: 'POST',
                data: formData,
                processData: false, // Tell jQuery not to process the data
                contentType: false, // Tell jQuery not to set contentType
                success: function(response) {
                    console.log('Upload successful');
                    // Handle success
                    displayNotification("Upload success!", 3000, "green"); // Example: blue for processing
                },
                error: function(xhr, status, error) {
                    console.log('Upload error');
                    // Handle error
                    displayNotification("Upload error :(", 3000, "red"); // Example: blue for processing
                }
            });
        });
        });

        function displayNotification(message, duration, color) {
        const notification = document.getElementById("notification");
        notification.textContent = message;
        notification.style.display = "block";
        console.log(color)
        notification.style.backgroundColor = color; // Change button color based on the argument
        setTimeout(function() {
            notification.style.display = "none";
        }, duration);
    }


    </script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="../static/favicon.ico" alt="Favicon" style="height: 24px; width: 24px; margin-right: 5px; margin-top: -4px;">TSGuiPy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/config">Config Creator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/monitor">Job Monitor</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/plot_results">Results Viewer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analyse_results">Analyse results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Abundance diagram</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/generate_synthetic_spectrum">Generate synthetic spectrum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/plot_observed_spectra">Plot observed spectra</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="notification" style="display: none; position: fixed; bottom: 20px; right: 20px; background-color: #f44336; color: white; padding: 16px; border-radius: 8px;">Notification</div>
    <!-- Jumbotron -->
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Plot your stars!</h1>
            <p class="lead">Choose folder with the results. If too many files (>1000?) please zip the results folder and upload it instead</p>
            <hr class="my-4">
            <p>Change.</p>
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="folder" webkitdirectory directory multiple>
                <input type="submit" value="Upload results folder">
            </form>
            <form id="uploadForm_zip" action="/upload_zip" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".zip">
                <input type="submit" value="Upload .zip file with the results">
            </form>
            <hr class="my-4">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="removeErrorsCheck">Remove errors:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" class="form-check-input" id="removeErrorsCheck" name="removeErrorsCheck">
                    </div>
                    <div class="col-md-2">
                        <label for="removeWarningsCheck">Remove warnings:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" class="form-check-input" id="removeWarningsCheck" name="removeWarningsCheck">
                    </div>
                    <div class="col-md-2">
                        <label for="chisqrLimit">Chi sqr limit</label>
                    </div>
                    <div class="col-md-6">
                        <input type="number" class="form-control" id="chisqrLimit" name="chisqrLimit" value="10">
                    </div>
                </div>
            <div class="col-md-2">
                <button class="btn btn-custom" onclick="loadAbundancePlot()">Load Plot</button>
            </div>
            <div id="plot-container"></div>
        </div>

    </div>

</body>
</html>
