<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config Creator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% if warning %}
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
        <div class="toast-header">
            <strong class="mr-auto">Warning</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{ warning }}
        </div>
    </div>
    {% endif %}

    <div class="container mt-5">
        <h2>Config File Creator</h2>
        <a href="/" class="btn btn-secondary mt-3">Go Back to Home Page</a>
        <form action="/config" method="post">
            <div class="form-group">
                <label for="folderPath">Folder Path:</label>
                <input type="text" class="form-control" id="folderPath" name="folderPath"  value="{{ config.get('folderpath', '') }}">
            </div>
            <div class="form-group">
                <label for="filePath">File Path:</label>
                <input type="text" class="form-control" id="filePath" name="filePath"  value="{{ config.get('filepath', '') }}">
            </div>
            <div class="form-group">
                <label for="optionSelect">Choose an Option:</label>
                <select class="form-control" id="optionSelect" name="optionSelect"  value="{{ config.get('optionselect', '') }}">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="numberInput">Number Input:</label>
                <input type="number" class="form-control" id="numberInput" name="numberInput"  value="{{ config.get('numberinput', '') }}">
            </div>
            <div class="form-group">
                <label for="textInput">Text Input:</label>
                <input type="text" class="form-control" id="textInput" name="textInput"  value="{{ config.get('textinput', '') }}">
            </div>
            <div class="form-group">
                <label for="configPath">Config File Path:</label>
                <input type="text" class="form-control" id="configPath" name="configPath" value="{{ default_config_path }}">
            </div>
            <button type="submit" class="btn btn-primary">Save Config</button>
        </form>
        <form action="/load_config" method="post">
            <button type="submit" class="btn btn-info">Load Config</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
