<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spectra Fitting Application</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .jumbotron {
            background-color: #f2f2f2;
            border-radius: 0.5rem;
            padding: 2rem;
            margin-top: 2rem;
        }
        .btn-custom {
            background-color: #4CAF50;
            color: white;
            padding: 0.5rem 1.5rem;
            margin: 0.5rem;
            border: none;
            border-radius: 0.3rem;
            cursor: pointer;
        }
        .container {
            padding-top: 2rem;
        }
        .flex-container {
            display: flex;
            align-items: center; /* Aligns items vertically in the center */
            justify-content: space-between; /* Adds space between the flex items */
            margin-bottom: 10px; /* Adds some space between each form-group */
        }

        .flex-item {
            flex: 1; /* Allows items to grow and fill the space */
            margin-right: 5px; /* Adds some space between label and input */
        }

        .flex-item input {
            width: 100%; /* Makes input take the full width of its container */
        }

        .blue { background-color: #007bff; }
        .green { background-color: #28a745; }
        .red { background-color: #dc3545; }
    </style>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function runPython() {
            const runLocation = document.getElementById("run-location").value;
            fetch('/run_python2', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ run_location: runLocation }),
            }).then(response => response.text())
              .then(result => console.log(result))
              .catch(error => console.log('Error:', error));
        }
    </script>
    <script>
    function loadPlot2() {
    displayNotification("Processing...", 3000, "blue"); // Example: blue for processing

    let currentShapeIndex = null; // Track the current shape index

    const requestData = {
        teff: document.getElementById("m3d_teff").value,
        logg: document.getElementById("m3d_logg").value,
        feh: document.getElementById("m3d_feh").value,
        vmic: document.getElementById("m3d_vmic").value,
        lmin: document.getElementById("m3d_lmin").value,
        lmax: document.getElementById("m3d_lmax").value,
        deltal: document.getElementById("m3d_deltal").value,
        nlte_element: document.getElementById("m3d_nlte_element").value,
        nlte_iter: document.getElementById("m3d_nlte_iter").value,
        m3d_xfeabundances: document.getElementById("m3d_xfeabundances").value,
        vmac: document.getElementById("m3d_vmac").value,
        resolution: document.getElementById("m3d_resolution").value,
        rotation: document.getElementById("m3d_rotation").value,
        obs_rv: document.getElementById("obs_rv").value,
        loggf_limit: document.getElementById("m3d_loggf_limit").value,
        linelist_path: document.getElementById("m3d_linelist").value,
        code_type: document.getElementById("code_type").value
    };

    $.ajax({
        url: '/get_m3d_plot',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(requestData),
        success: function(data) {
            console.log(data); // Log the received data to the console

            // Clear the plot-container
            const plotContainer = document.getElementById('plot-container');
            plotContainer.innerHTML = '';

            // plot parsed linelist
            const columnsContainer = document.getElementById('columns');
            // first clear the columns container
            columnsContainer.innerHTML = '';
            data.columns.forEach(column => {
                console.log(column);
                const button = document.createElement('button');
                // make button at least 10 px high and 100 px wide
                button.style.height = '20px';
                button.style.width = '120px';
                button.textContent = column.name;
                // text inside the button is the column name
                button.style.margin = '5px';
                button.style.backgroundColor = 'lightgrey';
                button.style.border = 'none';
                button.style.borderRadius = '5px';
                button.style.cursor = 'pointer';
                button.style.color = 'black';
                // font color is black
                button.style.fontSize = '10px';
                // font color is black
                button.style.fontWeight = 'bold';
                button.style.textAlign = 'center';
                button.style.textDecoration = 'none';

                button.onclick = function() {
                    // First, remove the existing line if there is one
                    if (currentShapeIndex !== null) {
                        Plotly.relayout('plot-container', {
                            shapes: [], // Clear existing shapes
                            annotations: []
                        });
                    }

                    // Update the plot to include a vertical line at column's x_value
                    const update = {
                        shapes: [{
                            type: 'line',
                            x0: column.wavelength,
                            y0: 0,
                            x1: column.wavelength,
                            y1: 1.05,
                            xref: 'x',
                            yref: 'paper',
                            line: {
                                color: 'blue',
                                width: 2
                            }
                        }
                        // write text which is the column name
                        ],
                        annotations: [{
                            x: column.wavelength + 0.014,
                            y: 1.10,
                            xref: 'x',
                            yref: 'paper',
                            text: column.element,
                            showarrow: false,
                            arrowhead: 7,
                            font: {
                                size: 12,
                                color: 'black'
                            },
                            // center the text
                            xanchor: 'middle',
                            yanchor: 'middle'
                        }]
                    };
                    Plotly.relayout('plot-container', update);
                    currentShapeIndex = 0; // This works under the assumption you only have this one shape
                };
                columnsContainer.appendChild(button);
            });

            // Reconstruct the plot using the received data and layout
            Plotly.newPlot('plot-container', data.data, data.layout);
            displayNotification("Success!", 3000, "green");
        },
        error: function(jqxhr, textStatus, error) {
            console.error("Request Failed: " + textStatus + ", " + error); // Log any errors to the console
            displayNotification("Error occurred!", 3000, "red");
        }
    });
    }

    $(document).ready(function() {
    $('#uploadForm').on('submit', function(e) {
        displayNotification("Uploading...", 3000, "blue"); // Example: blue for processing
        e.preventDefault(); // Stop form from submitting normally
        var formData = new FormData(this);

        $.ajax({
            url: '/upload_spectra',
            type: 'POST',
            data: formData,
            processData: false, // Tell jQuery not to process the data
            contentType: false, // Tell jQuery not to set contentType
            success: function(response) {
                console.log('Upload successful');
                // Handle success
                displayNotification("Upload success!", 3000, "green"); // Example: blue for processing
            },
            error: function(xhr, status, error) {
                console.log('Upload error');
                // Handle error
                displayNotification("Upload error :(", 3000, "red"); // Example: blue for processing
            }
        });
    });
    });


    function displayNotification(message, duration, color) {
        const notification = document.getElementById("notification");
        notification.textContent = message;
        notification.style.display = "block";
        console.log(color)
        notification.style.backgroundColor = color; // Change button color based on the argument
        setTimeout(function() {
            notification.style.display = "none";
        }, duration);
    }

    function updateIntegrals() {
    let currentShapeIndexIntegrals = null; // Track the current shape index
    const requestData = {
        left_x_boundary: document.getElementById('left_x_boundary').value,
        right_x_boundary: document.getElementById('right_x_boundary').value,
        plot_data: document.getElementById('plot-container').data
    };

    $.ajax({
        url: '/synthetic_calculate_integral',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(requestData),
        success: function(data) {
            document.getElementById('integral_synthetic').innerText = "Synthetic EW: " + data.integral_synthetic;
            document.getElementById('integral_observed').innerText = "Observed EW: " + data.integral_observed;
            // Update Plotly graph here
            // First, remove the existing line if there is one
            if (currentShapeIndexIntegrals !== null) {
                Plotly.relayout('plot-container', {
                    shapes: [], // Clear existing shapes
                    annotations: []
                });
            }
            // Update the plot to include a vertical line at column's x_value
            const update = {
                shapes: [{
                    type: 'line',
                    x0: requestData.left_x_boundary,
                    y0: 0,
                    x1: requestData.left_x_boundary,
                    y1: 1.05,
                    xref: 'x',
                    yref: 'paper',
                    line: {
                        color: 'black',
                        width: 2
                    }
                },
                {
                    type: 'line',
                    x0: requestData.right_x_boundary,
                    y0: 0,
                    x1: requestData.right_x_boundary,
                    y1: 1.05,
                    xref: 'x',
                    yref: 'paper',
                    line: {
                        color: 'black',
                        width: 2
                    }
                }
                ],
                annotations: [{
                    x: requestData.left_x_boundary,
                    y: 1.10,
                    xref: 'x',
                    yref: 'paper',
                    text: requestData.left_x_boundary,
                    showarrow: false,
                    arrowhead: 7,
                    font: {
                        size: 12,
                        color: 'black'
                    },
                    // center the text
                    xanchor: 'middle',
                    yanchor: 'middle'
                },
                {
                    x: requestData.right_x_boundary,
                    y: 1.10,
                    xref: 'x',
                    yref: 'paper',
                    text: requestData.right_x_boundary,
                    showarrow: false,
                    arrowhead: 7,
                    font: {
                        size: 12,
                        color: 'black'
                    },
                    // center the text
                    xanchor: 'middle',
                    yanchor: 'middle'
                }
                ]
            };
            Plotly.relayout('plot-container', update);
            currentShapeIndexIntegrals = 0; // This works under the assumption you only have this one shape
    },
        error: function(jqxhr, textStatus, error) {
            console.error("Request Failed: " + textStatus + ", " + error); // Log any errors to the console
        }
    });
}
</script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TSGuiPy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/config">Config Creator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/monitor">Job Monitor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/plot_results">Results Viewer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analyse_results">Analyse results</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Generate synthetic spectrum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/plot_observed_spectra">Plot observed spectra</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="notification" style="display: none; position: fixed; bottom: 20px; right: 20px; background-color: #f44336; color: white; padding: 16px; border-radius: 8px;">Notification</div>
    <!-- Jumbotron -->
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4"></h1>
            <p class="lead">Generate synthetic spectra and overplot observed one.</p>
            <hr class="my-4">
            <div class="row form-group">
                <div class="col-md-8">
                    <form id="uploadForm" action="/upload_spectra" method="post" enctype="multipart/form-data">
                        <div class="row"> <!-- Ensures elements are in a flex row -->
                            <div class="col-8"> <!-- Adjust the size as needed -->
                                <input type="file" name="file">
                            </div>
                            <div class="col-4"> <!-- Adjust the size as needed -->
                                <input type="submit" value="Upload observed spectra" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <label for="obs_rv">Observed RV</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="obs_rv" name="obs_rv" value="0.0">
                </div>
            </div>
            <hr class="my-4">
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="m3d_linelist">Linelist path</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="m3d_linelist" name="m3d_linelist" value="../../input_files/linelists/linelist_for_fitting/">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-1">
                    <label for="m3d_teff">Teff</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="m3d_teff" name="m3d_teff" value="5777">
                </div>
                <div class="col-sm-1">
                    <label for="m3d_logg">logg</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="m3d_logg" name="m3d_logg"  value="4.44">
                </div>
                <div class="col-sm-1">
                    <label for="m3d_feh">[Fe/H]</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="m3d_feh" name="m3d_feh"  value="0.0">
                </div>
                <div class="col-sm-1">
                    <label for="m3d_vmic">Vmic</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="m3d_vmic" name="m3d_vmic"  value="1.00">
                </div>
                <div class="col-sm-1">
                    <label for="m3d_lmin">Min λ</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="m3d_lmin" name="m3d_lmin"  value="4883">
                </div>
                <div class="col-sm-1">
                    <label for="m3d_lmax">Max λ</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="m3d_lmax" name="m3d_lmax"  value="4885">
                </div>
                <div class="col-sm-1">
                    <label for="m3d_deltal">Delta λ</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="m3d_deltal" name="m3d_deltal"  value="0.01">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-1">
                    <label for="m3d_vmac">Vmac</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="m3d_vmac" name="m3d_vmac"  value="0">
                </div>
                <div class="col-sm-1">
                    <label for="m3d_rotation">Rotation</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="m3d_rotation" name="m3d_rotation"  value="0">
                </div>
                <div class="col-sm-1">
                    <label for="m3d_resolution">Resolution</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="m3d_resolution" name="m3d_resolution"  value="0">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="m3d_nlte_element">NLTE element:</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control" id="m3d_nlte_element" name="m3d_nlte_element"  value="none">
                        <option>none</option>
                        <option>Al</option>
                        <option>Ba</option>
                        <option>Ca</option>
                        <option>Co</option>
                        <option>Eu</option>
                        <option>Fe</option>
                        <option>H</option>
                        <option>Mg</option>
                        <option>Mn</option>
                        <option>Na</option>
                        <option>Ni</option>
                        <option>O</option>
                        <option>Si</option>
                        <option>Sr</option>
                        <option>Ti</option>
                        <option>Y</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="m3d_nlte_iter">NLTE iterations:</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="m3d_nlte_iter" name="m3d_nlte_iter" value="10">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="m3d_xfeabundances">Change abundance: ELEMENT_NUMBER/NAME [X/Fe] .<br> E.g. 12 1.0 or Mg 1.0</label>
                </div>
                <div class="col-md-6">
                    <textarea class="form-control" id="m3d_xfeabundances" name="m3d_xfeabundances" rows="2"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="m3d_loggf_limit">loggf limit blends:</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="m3d_loggf_limit" name="m3d_loggf_limit" value="-100">
                </div>
                <div class="col-md-1">
                    <label for="left_x_boundary">Left λ EW</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="left_x_boundary" name="left_x_boundary" value="4883.55">
                </div>
                <div class="col-md-1">
                    <label for="right_x_boundary">Right λ EW</label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="right_x_boundary" name="right_x_boundary" value="4883.8">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info" onclick="updateIntegrals()">Calculate EW</button>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="code_type">M3D/TS:</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control" id="code_type" name="code_type" value="m3d">
                        <option>M3D</option>
                        <option>TS</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-custom" onclick="loadPlot2()">Load Plot</button>
                </div>
            </div>
            <div id="integral_synthetic"></div>
            <div id="integral_observed"></div>
            <div id="columns"></div>
            <div id="plot-container"></div>
        </div>

    </div>

</body>
</html>
